<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.yedam.mapper.OrderMapper">

	<!-- SQL 쿼리: BasketMapper.xml에서 insertBasket 쿼리를 정의하고 장바구니에 상품을 추가합니다. -->

	<select id="selectOrder" parameterType="int" resultType="co.yedam.vo.BasketVO">
		<!-- select cart_no ,prod_no ,member_no ,basket_date ,basket_color ,basket_size 
			,basket_quantity from basket order by member_no -->

		SELECT b.cart_no,
		b.member_no,
		b.prod_no,
		p.prod_name,
		p.prod_price,
		p.prod_category,
		p.prod_code,
		p.thumbnail,
		p.prod_category2,
		p.prod_star,
		b.basket_date,
		b.product_color,
		b.product_size,
		b.product_quantity
		FROM BASKET b
		JOIN PRODUCT p
		ON b.prod_no = p.prod_no
		WHERE b.member_no = #{memberNo}
	</select>
<!-- 
	<insert id="insertOrders">
		INSERT INTO orders (order_no
						   , member_no
						   , order_quantity
						   , order_price
						   , receiver
						   , address
						   , order_option
						   , order_phone
						   , order_status
						   , order_date)
		VALUES			(order_seq.nextval
						, #{memberNo}
						, #{orderQuantity}
						, #{orderPrice}
						, #{receiver}
						, #{address}
						, #{orderOption}
						, #{orderPhone}
						, #{orderStatus}
						, SYSDATE)
	</insert>
 -->


</mapper>