<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.yedam.mapper.ProductMapper">
	<!-- <select id="selectList" resultType="co.yedam.vo.ProductVO" parameterType="co.yedam.vo.ProductVO"> -->
	<select id="selectList" resultType="co.yedam.vo.ProductVO">
		select prod_no
		,prod_name
		,prod_price
		,prod_category
		,prod_image1
		,prod_image2
		,prod_image3
		,prod_image4
		,prod_exp
		,prod_code
		,thumbnail
		,prod_category2
		,prod_star
		FROM product
		where 1=1
		<if test="prodCategory != null">
			and prod_category = #{prodCategory}
			and prod_category2 =
			#{prodCategory2}
		</if>
		<if test="prodStar != 0">
			and prod_star = #{prodStar}
		</if>
		ORDER BY prod_no
	</select>

	<select id="selectListPaging" parameterType="co.yedam.common.SearchDTO" resultType="co.yedam.vo.ProductVO">
		SELECT b.*
		FROM
		(
		SELECT rownum AS rn, a.*
		FROM (
		      SELECT *
		      FROM product
		      where 1=1
		      <if test="prodCategory != null">   
			  and prod_category = #{prodCategory}
			  and prod_category2 = #{prodCategory2}
		      </if>
		      <if test="prodStar != 0">
			  and prod_star = #{prodStar}
		      </if>
		      ORDER BY prod_no DESC
		     ) a
		) b
		WHERE b.rn> (#{page} -1 ) * 12
        <![CDATA[
        AND b.rn <= (#{page} * 12)
        ]]>
	</select>

	<select id="selectTotalCount" parameterType="co.yedam.common.SearchDTO" resultType="int">
		select count(1)
		from product    
		WHERE 1=1
		<if test="prodCategory != null">
			and prod_category = #{prodCategory}
			and prod_category2 = #{prodCategory2}
		</if>
		<if test="prodStar != 0">
			and prod_star = #{prodStar}
		</if>
	</select>


</mapper>