<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.yedam.mapper.StyleBookMapper">

  <sql id="selectCondition">
  where
		<choose>
			<when test="searchCondition == 'T'.toString() ">
				title like '%'|| #{keyword} ||'%'
			</when>

			<when test="searchCondition == 'W'.toString() ">
				writer like '%'|| #{keyword} ||'%'
			</when>

			<when test="searchCondition == 'TW'.toString() ">
				title like '%'|| #{keyword} ||'%' OR writer like '%'|| #{keyword} ||'%'
			</when>

			<otherwise>1 = 1</otherwise>
		</choose>
  </sql>

	<select id="selectList" resultType="co.yedam.common.SearchDTO">
		SELECT board_no
		,title
		,content
		,writer
		,view_cnt
		,writer_date
		FROM style_tbl
		ORDER BY board_no
	</select>

	<select id="selectBoard" parameterType="int">
		SELECT board_no
		,title
		,content
		,writer
		,view_cnt
		,writer_date
		,image
		FROM style_tbl
		WHERE board_no =
		#{boardNo}
		ORDER BY board_no
	</select>

	<!-- 페이징 목록 -->
	<select id="selectListPaging" parameterType="int">
		SELECT b.*
		FROM (SELECT rownum rn, a.*
		FROM (SELECT *
					FROM style_tbl
					<include refid="selectCondition"></include>
					ORDER BY board_no) a ) b
		WHERE b.rn > (#{page} - 1) * 5
			<![CDATA[
			and b.rn <= (#{page} * 5)
			]]>
	</select>

	<!-- 페이징 계산용 전체건수 -->
	<select id="selectTotalCount">
		SELECT COUNT(1)
		FROM style_tbl
		where
		<choose>
			<when test="searchCondition == 'T'.toString() ">
				title like '%'|| #{keyword} ||'%'
			</when>

			<when test="searchCondition == 'W'.toString() ">
				writer like '%'|| #{keyword} ||'%'
			</when>

			<when test="searchCondition == 'TW'.toString() ">
				title like '%'|| #{keyword} ||'%' OR writer like '%'|| #{keyword} ||'%'
			</when>

			<otherwise>1 = 1</otherwise>
		</choose>
	</select>

	<insert id="insertBoard" parameterType="co.yedam.vo.StyleBookVO">
		INSERT INTO style_tbl
		(board_no, title, writer, content, image)
		VALUES (board_seq.NEXTVAL, #{title},
		#{writer}, #{content}, #{image})
	</insert>

	<update id="updateBoard" parameterType="co.yedam.vo.StyleBookVO">
		UPDATE style_tbl
		<set>
			<if test="title != null">
				title = #{title},
			</if>
			<if test="content != null">
				content = #{content}
			</if>
		</set>
		WHERE board_no = #{boardNo}
	</update>

	<delete id="deleteBoard" parameterType="co.yedam.vo.StyleBookVO">
		DELETE
		FROM style_tbl
		WHERE board_no = #{boardNo}
	</delete>

</mapper>