<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.yedam.mapper.WishlistMapper">
 <!-- SQL 쿼리: BasketMapper.xml에서 insertBasket 쿼리를 정의하고 장바구니에 상품을 추가합니다. -->
	<insert id="addWishlist" parameterType="int">
		insert into wishlist (wish_no, prod_no)
		values(wishlist_seq.nextval, #{prodNo})
	</insert>

</mapper>